.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  padding-top: 20px;
}

.App-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.App-btn {
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgb(150, 147, 147);
  color: rgb(19, 18, 18);
}

.App-btn:hover {
  background: rgb(119, 119, 119);
}

.App-delete-btn {
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background: rgb(141, 139, 139);
  color: rgb(10, 10, 10);
}

table {
  
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}

th {
  border-bottom: 1px solid rgb(119, 119, 119);
  width: 250px;
}

td {
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
}

fieldset {
  border: 1px solid rgb(119, 119, 119);
  color: rgb(119, 119, 119);
}

input {
  margin: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
